nav {
	background-color: var(--black);
	height: 4rem;
	width: 100%;
	position: fixed;
	z-index: 1000;
	overflow: hidden;
	.nav-top{
		* {
			cursor: pointer;
		}
		height: 4rem;
		display: flex;
		align-items: center;
		.logo {
			color: white;
			display: flex;
			align-items: center;
			margin-right: auto;
			align-items: center;
			font-size: 1.25rem;
			padding: 0 16px;
			height: 50%;
			& > img {
				position: relative;
				font-weight: bold;
				object-fit: contain;
			}
			& > div {
				font-weight: bold;
				margin-left: 8px;
			}
		}
		.button {
			padding: 1.5rem;
			border-color: transparent;
			border-width: 0;
			width: 4rem;
			height: 100%;
			background-color: rgba(255, 255, 255, 0);
			transition: background-color .5s;
			flex-shrink: 0;
			svg{
				overflow: visible;
				&>*:not(title){
					transition: stroke .5s, stroke-width .5s;
					fill: none;
					stroke: rgba(255, 255, 255, 0.5);
					stroke-width: .5rem;
				}
			}
			&:hover{
				background-color: rgba(255, 255, 255, 0.1);
				svg{
					&>*:not(title){
						stroke: rgba(255, 255, 255, 1);
						stroke-width: 1rem;
					}
				}
			}
		}
		.search{
			display: flex;
			align-items: center;
			transition: background-color .25s;
			input{
				width: 0;
				transition: width .25s;
				height: 4rem;
				background: transparent;
				color: rgba(255, 255, 255, 0.7);
			}
			&.open{
				background: rgba(255, 255, 255, 0.1);
				svg{
					&>*:not(title){
						stroke: rgba(255, 255, 255, 0.7);
						stroke-width: 1rem;
					}
				}
				input{
					padding-left: 1.5rem;
					width:12rem;
				}

			}
		}
	}
	.nav-bottom{
		.menu {
			padding: 6px 0 0 40px;
			font-weight: bold;
			opacity: .7;
		}
	}
}