nav{
	position: fixed;
	top: 1rem;
	left: 1rem;
	width: calc( 100vw - 2rem );
	background: black;
	z-index: 1000;
	overflow: hidden;
	.nav-top{
		height: 3rem;
		display: flex;
		.logo{
			display: flex;
			align-items: center;
			color: white;
			text-decoration: none;
			font-weight: bold;
			font-size: 1.25rem;
			margin-right: auto;
		}
		.button{
			padding: .875rem;
			width: 3rem;
			height: 3rem;
		}
		.search{
			display: flex;
			background: rgba(255, 255, 255, 0);
			transition: 400ms;
			input{
				color: white;
				width: 0;
				transition: 400ms;
			}
			&.open{
				background: rgba(255, 255, 255, .2)
			}
		}
	}
	.nav-bottom{
		overflow: hidden;
		transition: 200ms;
	}
}