@import url("_typography.css");
@import url("_components.css");
@import url("_park.css");
@import url("_article.css");

nav .navbar-brand, .carousel h1, #social li, footer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}