<section id="carouselCtrl" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<h1><span>
			National Park Service
		</span></h1>
		<video class="carousel-item-active" autoplay loop>
			<source src="videos/hero_video.mp4" type="video/mp4">
		</video>
	</div>
</section>

<form class="py-4" novalidate>
	<div class="container form-group px-3">
		<h2 class="text-center">Find A National Park</h2>
		<label for="select-a-state">Select A State</label>
		<select 
			id="select-a-state"
			class="form-control"
			ng-model="selectedName"
			ng-options="x for x in nps.parks.state">
			<option value="">Select A State...</option>
		</select>
	</div>
	<div class="container text-center">
		<button type="submit" class="btn btn-sm btn-primary">Search</button>
	</div>
</form>

<section id="featured" class="container px-3">
	<div 
		ng-repeat="x in featured track by $index"
		class="card">
		<img class="" src="{{x.img}}" alt="{{x.title}}">
		<div class="card-body">
			<h5 class="card-title">{{x.title}}</h5>
			<!-- <p class="card-text">{{featured.title}}</p> -->
		</div>
	</div>
</section>

<section id="popular" class="container py-4 px-3">
	<h1>Popular Parks</h1>
	<div 
		ng-repeat="x in popular track by $index"
		class="card">
		<img class="" src="{{x[1]}}" alt="{{x[0]}}">
		<div class="card-body">
			<h5 class="card-title">{{x[0]}}</h5>
			<!-- <p class="card-text">{{featured.title}}</p> -->
		</div>
	</div>
</section>