@font-face {
	font-family: 'Rawlinson';
	src: url('Rawlinson.eot');
	src: url('Rawlinson.woff2') format('woff2'),
		url('Rawlinson.woff') format('woff'),
		url('Rawlinson.ttf') format('truetype'),
		url('Rawlinson.svg#Rawlinson') format('svg'),
		url('Rawlinson.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

